<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device_width, initial_scale=1.0">
        <title>Tutor Bot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='chatbox.css') }}">
        <meta name="description" content="LLM Tutor Bot For All Skill Levels and Ages">
    </head>
    <body>

        <div class="title">
            <h1 class="titleText">Welcome, Patrick</h1>
        </div>

        <div class="chatboxBlock">
            <div class="chatHeader"><h3>Ask anything</h3></div>
            <div class="chatBody" id="chatBody">
                <div class="message_box">
                    Hello! How can I help you?
                </div>
            </div>
            <div class="chatFooter">
                <input type="text" id="userInput" placeholder="Type a message...">
                <button id="sendChatBtn">Send</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script defer type="module" src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>